.profile-about-container {
  color: #212121;
  margin: 0px 10px 10px 10px;
  padding: 15px 25px 25px 25px;
  box-shadow: 0px 9px 10px -8px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-top: .5px solid rgb(235, 235, 235);
}

.profilehead-container {
  color: #212121;
  margin: 10px 10px 0px 10px;
  padding: 25px 25px 15px 25px;
  box-shadow: 0px 9px 10px -8px rgba(0, 0, 0, 0.5);
  background-color: white;
  display: flex;
}

.profile-img {
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.profile-info {
  margin-left: 10px;
  width: 70%;
}

.profile-username {
  margin-left: 10px;
}

.profile-website-link {
  margin-left: 10px;
  font-size: 14px;
}