.profile-about-container {
  color: #212121;
  margin: 10px;
  width: 95.5%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 9px 10px -8px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.profilehead-container {
  color: #212121;
  margin: 10px;
  width: 95.5%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 9px 10px -8px rgba(0, 0, 0, 0.5);
  background-color: white;
  display: flex;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 50px;
}