.comment-post-deets {
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  display: inline;
  line-height: 15px;
}

.date {
  display: inline;
  font-weight: lighter;
  padding-bottom: 4px;
  font-size: 13.5px;
  line-height: 13px;
}

.title {
  color: rgba(203, 80, 255, 0.735);
  font-weight: bold;
  font-size: 20px;
  display: inline;
}

.comment-content {
  padding: 0px 0px 5px 0px;
  color: #212121;
  font-size: 15px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  transition: all 0.1s ease-in;
  clear: both;
}

.card-header {
  padding-bottom: 7px;
}

.page-card-header {
  display: flex;
  align-items: center;
}

.card-header:hover,
.comment-content:hover {
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  transition: all 0.1s ease-in;
  border-radius: 10px;
}

.comment-card {
  position: relative;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 25px 20px 10px 20px;
  width: 100%;
  border-radius: 10px;
}

.comment-img-container {
  float: left;
  margin: 0px 10px 0px 0px;
}

.card-user-img {
  padding: 0px;
  margin: 0px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.author-date {
  margin-top: 5px;
}
.card-footer {
  border-top: 1px solid #ddd;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.card-add-button {
  display: flex;
  flex-direction: row;
  color: #212121;
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  margin-right: 5px;
  padding-top: 7px;
}
.disc-feed-stats:hover,
.card-add-button:hover {
  color: rgba(203, 80, 255, 0.735);
}
.comment-cont {
  padding-left: 20px;
}

.likes-cont,
.comment-cont {
  position: relative;
}

