.comment-post-deets {
  color: rgba(203, 80, 255, 0.735);
  font-weight: bold;
  font-size: 17px;
  display: inline;
  line-height: 15px;
}

.date {
  display: inline;
  font-weight: lighter;
  padding-bottom: 4px;
  font-size: 13.5px;
  line-height: 13px;
}

.comment-content {
  padding: 20px 0px 5px 0px;
  color: #212121;
  font-size: 15px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  transition: all 0.1s ease-in;
}

.card-header:hover,
.comment-content:hover {
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  transition: all 0.1s ease-in;
  border-radius: 10px;
}

.comment-card {
  position: relative;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 25px 20px 10px 20px;
  width: 100%;
  border-radius: 10px;
}

.disc-likes-counter {
  cursor: pointer;
  font-size: 15px;
  padding: 0px;
  padding-left: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.disc-feed-stats {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #212121;
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  /* position: absolute;
  bottom: -5px; */
}

.comment-img-container {
  float: left;
  margin: 0px 15px 0px 0px;
}

.card-user-img {
  padding: 0px;
  margin: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.disc-like-button {
  border: none;
  background: white;
  font-size: 25px;
  cursor: pointer;
  margin-right: 5px;
}

.bubble {
  margin-right: 5px;
}

.card-footer {
  border-top: 1px solid #ddd;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.card-add-button {
  display: flex;
  flex-direction: row;
  color: #212121;
  border: none;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  margin-right: 5px;
  padding-top: 7px;
}
.disc-feed-stats:hover,
.card-add-button:hover {
  color: rgba(203, 80, 255, 0.735);
  
}
.comment-cont {
  /* border-left: 1px solid #ddd; */
  padding-left: 20px;
}

.likes-cont,
.comment-cont {
  position: relative;
}

.like-text {
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
