.dashbar-container {
  font-size: 14px;
  color: #212121;
  margin: 10px;
  width: 95.5%;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 9px 10px -8px rgba(0, 0, 0, 0.5);
  background-color: white;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progress-report {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dash-banner {
  margin-bottom: 10px;
}
.reading {
  display: inline-block;
}
.current-page {
  margin-left: 20px;
}
.progress-title {
  font-weight: bold;
  line-height: 20px;
  font-size: 16px;
}

.page {
  display: flex;
  flex-direction: row;
  background-color: ivory;
  font-size: 13px;
  border: .5px solid rgb(235, 235, 235);
  border-radius: 4px;
  padding: 17px;
}

.page-input {
  width: 50px;
  color: gray;
  margin-right: 10px;
}

.update-btn {
  padding: 7px;
  background-color: ivory;
  height: 35px;
  font-size: 13px;
  border: .5px solid rgb(235, 235, 235);
  border-radius: 4px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
}

.update-btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgb(205, 204, 204);
  transition: all 0.4s ease 0s;
  color: rgba(203, 80, 255, 0.735);
}

.update-send {
  margin-left: 5px;
  cursor: pointer;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;;
  background-color: rgba(203, 80, 255, 0.735);
}

.circle-cont {
  width: 70px;
}

.profile-circle-cont {
  width: 70px;
}